<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank account</title>
</head>
<body>
<h1>Welcome To The Banking System</h1>


  <p><a href="/create">Create Account</a></p>
    <p><a href="/deposit">Deposit</a></p>
    <p><a href="/withdraw">Withdraw</a></p>
    <p><a href="/balance">Check Balance</a></p>
    <p><a href="/view"> View All Accounts</a> </p>



<!--<ul>-->
<!--    <li th:each="account : ${accounts}">-->
<!--        <p>Account Number: <span th:text="${account.accountNumber}"></span></p>-->
<!--        <p>Account Holder Name: <span th:text="${account.accountHolderName}"></span></p>-->
<!--        <p>Balance: <span th:text="${account.balance}"></span></p>-->
<!--    </li>-->
<!--</ul>-->

</body>
</html>